mixin categoryItem (text,title, q)
    - for(let i = 0; i < q; i++)
        .category__item
            p= text[i]
            h3= title[i]

mixin addCartBtn ()
    button.mt-50.cart-btn <i class="fas fa-shopping-cart"></i> Add to cart

mixin card (title, text, price, q, img, spec)
    if (spec)
        - for(let i = 1; i < q + 1; i++)
            a(href="../product.html")  
                .card
                    .card__img
                        img(src=`../../img/Card${img[i-1]}.png`, alt="product")
                        .overlay 
                            .overlay__text 
                                button.mt-50.cart-btn 
                                    span.cart-btn__text <i class="fas fa-shopping-cart"></i>                                        
                                    span.cart-btn__text Add to Cart              
                    .card__body
                        h3= title
                        p= text 
                        span= price
                    
    if (!img && !spec)
        - for(let i = 1; i < q + 1; i++)
            a(href="../product.html")  
                .card
                    .card__img
                        img(src=`../../img/Card${i}.png`, alt="product")
                        .overlay 
                                .overlay__text 
                                    button.mt-50.cart-btn 
                                        span.cart-btn__text <i class="fas fa-shopping-cart"></i>                                        
                                        span.cart-btn__text Add to Cart  
                    .card__body
                        h3= title
                        p= text 
                        span= price
                    
    else 
        - for(let i = 1; i < q + 1; i++) 
            if (!spec && img.includes(i))
                a(href="../product.html") 
                    .card
                        .card__img
                            img(src=`../../img/catalog/CatCard${[i]}.png`, alt="product")
                            .overlay 
                                .overlay__text 
                                    button.mt-50.cart-btn 
                                        span.cart-btn__text <i class="fas fa-shopping-cart"></i>                                        
                                        span.cart-btn__text Add to Cart  
                        .card__body
                            h3= title 
                            p= text 
                            span= price
                        
            else if (!spec)
                a(href="../product.html")                
                    .card
                        .card__img
                            img(src=`../../img/Card${[i]}.png`, alt="product")
                            .overlay 
                                .overlay__text 
                                    button.mt-50.cart-btn 
                                        span.cart-btn__text <i class="fas fa-shopping-cart"></i>                                        
                                        span.cart-btn__text Add to Cart  
                        .card__body
                            h3= title
                            p= text 
                            span= price
                        

mixin factor (title, text, q)
    -for(let i = 0; i < q; i++)
        .factor 
            img(src=`../../img/Factor${i+1}.png`, alt="factor")
            h3= title[i]
            p= text

mixin cartItem (title, price, q)
    -for (let i = 0; i < q; i++)
        .cart-item 
            .cart-item__img
                img(src=`../../img/cart/Cart${i+1}.jpg`, alt="cart img")                 
            .cart-item__text 
                h3= title[i]
                span!= `Price: <span class="highlight">${'$' + price[i]}</span> `
                span Color: Red
                span Size: XL
                span Quantity: <span class="qty">2</span>
            .cart-item__close 
                <i class="fas fa-times"></i>



mixin smallHeader (title, p = 0)
    section.small-header
        .container.small-header__flex
            h2= title
            if (p)
                p HOME / MEN / <span class="highlight">NEW ARRIVALS </span>

mixin sort (filter = false, q, str, filterStr)
    if (filter)
        .sort 
            details.sort__filter
                summary.custom-sum= filterStr 
            .sort__items
                - for (let i = 0; i < q; i++) 
                    details
                        summary= str[i] 
    if (!filter)
        .sort 
            .sort__items 
                - for (let i = 0; i < q; i++) 
                    details
                        summary= str[i] 

mixin pages (n) 
    nav.pagination 
        <i class="fas fa-chevron-left" ></i>
        ul 
            - for (let i = 0; i < n; i++)
                li <a href="#">#{i+1}</a>
            li <a href="#">.....</a>
            li <a href="#">20</a>
        <i class="fas fa-chevron-right"></i>