mixin categoryItem (text,title, q)
    - for(let i = 0; i < q; i++)
        .category__item
            p= text[i]
            h3= title[i]

mixin card (title, text, price, q)
    - for(let i = 1; i < q + 1; i++) 
        .card
            .card__img
                img(src=`../../img/Card${i}.png`, alt="product")
            .card__body
                h3= title
                p= text 
                span= price

mixin factor (title, text, q)
    -for(let i = 0; i < q; i++)
        .factor 
            img(src=`../../img/Factor${i+1}.png`, alt="factor")
            h3= title[i]
            p= text

mixin cartItem (title, price, q)
    -for (let i = 0; i < q; i++)
        .cart-item 
            .cart-item__img
                img(src=`../../img/cart/Cart${i+1}.jpg`, alt="cart img")                 
            .cart-item__text 
                h3= title[i]
                span!= `Price: <span class="highlight">${'$' + price[i]}</span> `
                span Color: Red
                span Size: XL
                span Quantity: <span class="qty">2</span>
            .cart-item__close 
                <i class="fas fa-times"></i>

